<% @question.taggings.build.build_tag %>
<%= form_for @question do |question_form| %>
  <div>
    <%= question_form.text_field :title, :placeholder => 'title' %>
  </div>

  <div>
    <%= question_form.text_area :body, :placeholder => 'question text' %>
  </div>

  <h2>Tags</h2>
  <%= render :partial => 'tags/form', :locals => { :form => question_form } %>
  <div>
    <%= question_form.submit %>
  </div>

<% end %>