<div>
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
  <%= "#{pluralize(@question.vote_count, 'vote')}" %>
<h1> Question </h1>
<%= @question.title %><br>
<%= link_to @user.username, @user %><br>
<%= @question.body %><br>
<% if signed_in? %>
<%= button_to 'Vote', @question, :method => "post" %>
<% end %>

<% if @user == current_user %>
	<%= link_to 'Edit Question', edit_question_path(@question) %>
	<%= form_for(@question, method: :delete) do |f| %>
	<%= f.submit 'Delete Question' %>
	<% end %>
<% end %>
<%= link_to 'Answer Question', new_question_answer_path(@question) %>
<ul>
  <% @answers.each do |answer| %><br>
  <%= "#{pluralize(answer.vote_count, 'vote')}" %>
  <form action="/answers/<%= answer.id %>/vote" method='post'>
  <button type='submit'>upvote this answer</button>
</form>
  <li>
  <%= answer.body %><br>
</li>
<% if answer.user == current_user %>
	<%= link_to 'Edit Answer', edit_question_answer_path(@question, answer) %> <br>
	<%= button_to 'Delete Answer', [@question, answer], :method => :delete %>
<% end %>
  <% end %>
</ul>



</div>