<div>
<h1> Question </h1>
<%= @question.title %><br>
<%= link_to @user.username, @user %><br>
<%= @question.body %><br>

<% if @user == current_user %>
	<%= link_to 'Edit Question', edit_question_path(@question) %>
	<%= form_for(@question, method: :delete) do |f| %>
	<%= f.submit 'Delete Question' %>
	<% end %>
<% end %>
<%= link_to 'Answer Question', new_question_answer_path(@question) %>
<ul>
  <% @answers.each do |answer| %><br>
  <li>
  <%= answer.body %><br>
</li>
  <% end %>
</ul>



</div>