<!DOCTYPE html>
<html>
<head>
  <title>DBCOverflow</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="top-nav">
    <%= link_to "DBCOverflow", '/', :class => "home-link" %>
	  <% if signed_in? %>
	    <%= link_to "My Profile", user_path(current_user) %>
	    <%= link_to "Sign Out", signout_path, method: :delete %>
	  <% else %>
	    <%= link_to "Sign Up", signup_path %>
	    <%= link_to "Sign In", signin_path %>
	  <% end %>
  </div>
  <div class="site-nav">
  	<% if signed_in? %>
	    <%= link_to 'Create Question', new_question_path %>
    <% end %>
  </div>
	<div class="container">
<%= yield %>
</div>
</body>
</html>
