<!DOCTYPE html>
<html>
<head>
  <title>DBCOverflow</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="top-nav">
    <%= link_to "DBCOverflow", '/', :class => "home-link" %>
    <% if signed_in? %>
      <%= link_to "My Profile", user_path(current_user) %>
      <%= link_to "Sign Out", signout_path, method: :delete %>
    <% else %>
      <%= link_to "Sign Up", signup_path %>
      <%= link_to "Sign In", signin_path %>
    <% end %>
  </div>
  <div class="site-nav">
    <% if signed_in? %>
      <%= link_to 'Create Question', new_question_path %>
    <% end %>
    <%= link_to "Users", users_path %>
  </div>

  <div class="container">
    <div class='row'>
      <div class='span9'><%= yield %></div>
      <div class='span3'>
        <h2>Categories</h2>
        <p>I would like ot render the tags index here</p>
        <p>each tag name could be a link the tags show page</p>
        <p>which would be a list of all existing questions with that tag</p>
      </div>
    </div>
  </div>
</body>
</html>
